nav.main-nav {
    padding-left: 0px;
}





/*header*/
header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header.header .navbar-toggle {
  position: absolute;
  right: 170px;
  top: 9px;
  margin: 0;
  z-index: 20;
  display: none;
  background: #eaeff4;
}

.show-main-nav header.header .navbar-toggle {
  background-color: #fff;
  border-color: #cccccc;
}

header.header .navbar-toggle .icon-bar {
  background: #6c84a1;
}

/*shadows*/
.main-nav > ul > li.open > a:before,
.main-nav > ul > li > a:hover:before {
  background: #fff;
  -webkit-box-shadow: 0 3px 9px rgba(24, 55, 89, .1);
  -moz-box-shadow: 0 3px 9px rgba(24, 55, 89, .1);
  box-shadow: 0 3px 9px rgba(24, 55, 89, .1);
  border: 2px solid #eaeff4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dropdown-menus > li {
    padding: 5px 0;
    margin: 0;
    border-bottom: 0px dashed #ccc !important;
    font-size: 13px;
    line-height: normal;
    font-weight: 600;
    color: #4a5866;
}

.main-nav > ul > li > .dropdown-menus:before {
    content: '';
    position: absolute;
    top: 2px !important;
    left: 0;
    width: 100px;
    height: 10px;
    background: #ffffff;
}


.main-nav > ul > li > .dropdown-menus {
    left: -2px;
    margin: 1px 0 0;
    padding: 15px 17px;
    min-width: 136px !important;
    background: #fff;
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
    list-style: none;
}

.dropdown-toggle a{
	    padding: 38px 0 0 !important;
}

.dropdown-menus > li a img{
	margin-right: 5px !important;
}

.dropdown-toggle:before {
    background: inherit !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;
    -webkit-border-radius: none !important;
    -moz-border-radius: none !important;
    border-radius: 0 !important;
}

li.dropdown.language.hidden-sm.hidden-xs:before{
	width: 0 !important;
}



header.header > .top {
    background: #ffffff;
    border-top: 3px solid #3390ee;
    -webkit-transition: border-width .5s;
    -moz-transition: border-width .5s;
    -ms-transition: border-width .5s;
    -o-transition: border-width .5s;
    transition: border-width .5s;
    position: relative;
    height: 123px;
    /* top: 0px; */
    /* height: 99px; */
    width: 100%;
    border-top: 3px solid #3390EE;
    border-bottom: 12px solid #4a5866 !important;
    z-index: 15;
    background-color: #FFF;
    margin-bottom: 15px;
    font-family: 'Open Sans',"Arial","Helvetica",sans-serif;
    font-kerning: auto;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
}

.navbar-brand>img {
    margin-left: -19px;
    width: 142px !important;
    margin-top: -2px;
}

.minimize-menu header.header > .top {
    border-top: 0px solid #3390ee;
    height: 64px;
    border-bottom: 6px solid #4a5866 !important;
}


.minimize-menu .main-nav > ul {
    list-style: none;
    letter-spacing: -4px;
    font-size: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    margin-left: 115px !important;
}

.minimize-menu .navbar-brand img {
    height: 40px;
    width: 93px !important;
    margin-top: 1px;
}
header.header > .bottom {
  background: #4a5866;
  padding: 9px 0 0;
}




.main-nav {
    padding: 25px 0 18px 165px;
    -webkit-transition: padding .5s;
    -moz-transition: padding .5s;
    -ms-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}

.not-legged-nav header.header .main-nav {
  padding: 12px 0 12px 130px;
}

.not-legged-nav header.header .pull-right {
  padding-top: 12px;
}

.minimize-menu .main-nav {
  padding: 8px 0 7px 0px;
}

.navbar.navbar-default {
    background-color: inherit;
    border-bottom: 0px;
    margin-bottom: 0px;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border: 0;
    margin-top: 13px;
}

.navbar.navbar-default .navbar-header {
    padding-top: 10px;
    margin: 0px;
}


.minimize-menu .nav.navbar-nav {
    margin-top: 0px !important;
    padding: 0 !important;
}


.navbar-default .navbar-toggle {
    margin: 9px 0px 0px;
}

#navbar-collapse {
    padding-top: 8px;
    padding-right: 0px;
}

.nav.navbar-nav {
    padding: 20px 0px 0px;
    float: none;
    margin-left: 120px;
}


.nav.navbar-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px;
    margin-left: 35px;
    color: #3390ee;
    font-weight: 700;
    font-size: 14px;
}


.nav.navbar-nav li a:hover, .nav.navbar-nav li a.active, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
    color: #ff5600;
}


.nav.navbar-nav li.language a.dropdown-toggle {
    margin-left: 0;
    float: right;
    font-weight: 300;
    color: #333;
    font-size: 12px;
    text-transform: none;
    background-color: #f2f2f2;
    padding: 3px 6px 4px;
    margin-left: 10px;
    top: -3px;
}


.nav.navbar-nav li.language span.visible-lg {
    display: inline !important;
}

.nav.navbar-nav li.language a.dropdown-toggle {
    margin-left: 0;
    float: right;
    font-weight: 300;
    color: #333;
    font-size: 12px;
    text-transform: none;
    background-color: #f2f2f2;
    padding: 3px 6px 4px;
    margin-left: 10px;
    top: -3px;
}

.nav.navbar-nav li.language .dropdown-menu li a {
    margin-left: 10px;
    font-weight: 300;
    color: #333;
    font-size: 12px;
    text-transform: none;
    margin: 5px 10px;
}

.nav.navbar-nav li.language a.dropdown-toggle img {
    position: relative;
    top: -1px;
    margin-right: 5px;
}

.main-nav .logo {
  float: left;
  margin: 4px 0 0 -165px;
  -webkit-transition: margin .5s;
  -moz-transition: margin .5s;
  -ms-transition: margin .5s;
  -o-transition: margin .5s;
  transition: margin .5s;
}

.not-legged-nav header.header .main-nav .logo {
  margin: 0 0 0 -130px;
}

.main-nav .logo img {
  height: 61px;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  transition: height .5s;
}

.not-legged-nav header.header .main-nav .logo img {
  height: 52px;
}

.minimize-menu .main-nav .logo {
  margin: 2px 0 0 -95px;
}

.minimize-menu .main-nav .logo img {
  height: 39px;
}

.main-nav > ul {
    list-style: none;
    letter-spacing: -4px;
    font-size: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    margin-left: 167px !important;
}

.main-nav > ul > li > a > span {
    display: block;
    position: relative;
    margin-top: 5px;
    font-weight: bold;
}

.main-nav > ul > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  position: relative;
  letter-spacing: normal;
  text-align: center;
  -webkit-transition: margin .5s;
  -moz-transition: margin .5s;
  -ms-transition: margin .5s;
  -o-transition: margin .5s;
  transition: margin .5s;
}
.minimize-menu .main-nav > ul > li {
    margin: 3px 6px;
}

.main-nav > ul > li:before {
    content: '';
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: -6px;
    width: 1px;
    background: #eaeff4;
}

.main-nav > ul > li > a .dropdown-toggle{
	position: relative;
    padding: 34px 0 0;
    text-decoration: none;
    display: block;
    width: 100px;

}

.minimize-menu .main-nav > ul > li:before {
  right: -7px;
}



.minimize-menu .main-nav > ul > li:nth-child(5):before {
  display: block;
}



.minimize-menu .main-nav > ul > li:last-child {
  display: inline-block;
}

.main-nav > ul > li > a {
  position: relative;
  padding: 34px 0 0;
  text-decoration: none;
  display: block;
  width: 100px;
  -webkit-transition: padding .5s;
  -moz-transition: padding .5s;
  -ms-transition: padding .5s;
  -o-transition: padding .5s;
  transition: padding .5s;
}

.minimize-menu .main-nav > ul > li > a {
  padding-top: 3px;
  padding-bottom: 4px;
}

.main-nav > ul > li > a > span {
  display: block;
  position: relative;
}

.main-nav > ul > li > a > span > strong {
  font-weight: 600;
  display: block;
  color: #282828;
  padding-top: 1px;
}

.main-nav > ul > li > a > span > strong.gray {
  color: #cac9c9;
}

.main-nav > ul > li.open > a:before,
.main-nav > ul > li > a:hover:before {
  content: '';
  position: absolute;
  top: -14px;
  left: -2px;
  right: -2px;
  bottom: -12px;
}

.main-nav > ul > li.open > a:before {
  bottom: -2px;
}

.minimize-menu .main-nav > ul > li.open > a:before,
.minimize-menu .main-nav > ul > li > a:hover:before {
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
}

.main-nav > ul > li .icon {
    width: 35px;
    height: 40px;
    display: block;
    font-size: 0;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -16px;
    background: url("../img/icons-main-nav2.png") no-repeat;
    -webkit-transition: height .5s, opacity .5s;
    -moz-transition: height .5s, opacity .5s;
    -ms-transition: height .5s, opacity .5s;
    -o-transition: height .5s, opacity .5s;
    transition: height .5s, opacity .5s;
}


.main-nav > ul > li .icons {
    width: 40px;
    height: 40px;
    display: block;
    font-size: 0;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -18px;
    background: url("../img/icons-main-nav3.png") no-repeat;
    -webkit-transition: height .5s, opacity .5s;
    -moz-transition: height .5s, opacity .5s;
    -ms-transition: height .5s, opacity .5s;
    -o-transition: height .5s, opacity .5s;
    transition: height .5s, opacity .5s;
}


i.icon.icos01 {
    background-position: -283px 4px !important;
}

i.icon.icos1 {
    background-position: -157px 0 !important;
}


i.icon.icos2 {
    background-position: -42px 0 !important;
}

i.icon.icos3 {
    background-position: -8px 0 !important;
}

i.icon.icos4 {
    background-position: -203px 0 !important;
}

i.icon.icos5 {
    background-position: -120px 0 !important;
}
i.icon.icos6 {
    background-position: -84px 0 !important;
}

i.icon.icos7 {
    background-position: -243px 0 !important;
}




i.icons.icos01 {
    background-position: -239px 2px !important;
}

i.icons.icos1 {
    background-position: -47px 0 !important;
}

i.icons.icos2 {
    background-position: -92px 0 !important;
}

i.icons.icos3 {
    background-position: -143px 0 !important;
}

i.icons.icos4 {
    background-position: -197px 0 !important;
}

i.icons.icos5 {
    background-position: -4px 0 !important;
}






.minimize-menu .main-nav > ul > li .icon {
  height: 0;
  opacity: 0;
}

.minimize-menu .main-nav > ul > li .icons {
  height: 0;
  opacity: 0;
}

.main-nav > ul > li > a > .caret {
    position: absolute;
    top: 28px;
    right: 0px;
    color: #fc531e;
    border-top-width: 5px;
    -webkit-transition: top .5s, left .5s;
    -moz-transition: top .5s, left .5s;
    -ms-transition: top .5s, left .5s;
    -o-transition: top .5s, left .5s;
    transition: top .5s, left .5s;
}

.dropdown-toggle img {
    margin-top: -3px !important;
}

.minimize-menu .main-nav > ul > li > a > .caret {
    top: 28px;
    right: 1px;
}

.main-nav > ul > li > .dropdown-menu {
  left: -2px;
  margin: 1px 0 0;
  padding: 15px 17px;
  min-width: 240px;
  background: #fff;
  -webkit-border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px;
  list-style: none;
}

.minimize-menu .main-nav > ul > li > .dropdown-menu {
  left: -5px;
}

.main-nav > ul > li > .dropdown-menu:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100px;
  height: 10px;
  background: #ffffff;
}

.minimize-menu .main-nav > ul > li > .dropdown-menu:before {
  width: 106px;
}





.main-nav > ul > li > .dropdown-menu > li {
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px dashed #ccc;
  font-size: 13px;
  line-height: normal;
  font-weight: 600;
  color: #4a5866;
}

.main-nav > ul > li > .dropdown-menu > li:before {
  display: none;
}



.main-nav > ul > li > .dropdown-menu > li > a {
  display: inline;
  padding: 0;
  line-height: normal;
  font-weight: 600;
  color: #3390ee;
  text-decoration: none;
}

.main-nav > ul > li > .dropdown-menu > li > a:hover {
  text-decoration: underline;
  background: none;
}

/*header not-legged main-nav*/
.not-legged-nav header.header .main-nav > ul {
  padding: 0;
}

.not-legged-nav header.header .main-nav > ul > li {
  margin: 0 20px;
  line-height: 52px;
  font-size: 14px;
  font-weight: bold;
}

.not-legged-nav header.header .main-nav > ul > li:last-child {
  display: inline-block;
}

.not-legged-nav header.header .main-nav > ul > li:before {
  display: none !important;
}

.not-legged-nav header.header .main-nav > ul > li > a {
  padding: 0;
  width: auto;
}

.not-legged-nav header.header .main-nav > ul > li.active > a,
.not-legged-nav header.header .main-nav > ul > li > a:hover {
  color: #ff5500;
}

.not-legged-nav header.header .main-nav > ul > li > a:hover:before {
  display: none;
}

/* sub-nav*/
header.header .sub-nav {
  margin: 0 0 9px -15px;
}

header.header .sub-nav > li {
  padding: 0 10px 0 0;
  margin: 0;
}

header.header .sub-nav > li > a {
  padding: 5px 15px;
  color: #ffffff;
}

header.header .sub-nav > li > a:hover,
header.header .sub-nav > li > a:active,
header.header .sub-nav > li > a:focus {
  background: none;
  color: #3390ee;
}

header.header .sub-nav > li.active > a {
  background: #3390ee;
  color: #ffffff;
}

/*user-nav*/
.user-nav {
  margin: 16px 0 9px;
  position: relative;
}

.user-nav > a.dropdown-toggle {
  background: #eaeff4;
  display: block;
  padding: 6px 5px 4px 43px;
  position: relative;
  min-height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11px;
  line-height: 14px;
  font-weight: 600;
  color: #6c7d8e;
  text-decoration: none;
}

.minimize-menu .user-nav {
  margin: 10px 0;
}

.user-nav > a.dropdown-toggle .title {
  position: relative;
  display: block;
  z-index: 3;
}

.user-nav > a.dropdown-toggle strong {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #6c7d8e;
}

.user-nav > a.dropdown-toggle .photo {
  float: left;
  margin-left: -37px;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 3;
}

.user-nav > a.dropdown-toggle .badge {
  top: -12px;
  left: -5px;
  position: absolute;
  background: #fc531e;
  font-size: 11px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
  padding: 0 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  -webkit-transition: top .5s, left .5s;
  -moz-transition: top .5s, left .5s;
  -ms-transition: top .5s, left .5s;
  -o-transition: top .5s, left .5s;
  transition: top .5s, left .5s;
  z-index: 3;
}

.minimize-menu .user-nav > a.dropdown-toggle .badge {
  top: -8px;
  left: -8px;
}

.user-nav > a.dropdown-toggle .caret {
  position: absolute;
  top: 16px;
  right: 17px;
  color: #778696;
  border-top-width: 5px;
  z-index: 3;
}

.user-nav > a.dropdown-toggle:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -2px;
  right: -2px;
  bottom: -3px;
  -webkit-border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px;
  z-index: 2;
}

.user-nav > .dropdown-menu {
  left: -2px;
  right: -2px;
  margin: 0;
  padding: 10px 1px 4px;
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  list-style: none;
}

.user-nav > .dropdown-menu:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  height: 4px;
  background: #fff;
}

.user-nav > .dropdown-menu > li {
  padding: 0;
  margin: 0;
}

.user-nav > .dropdown-menu > li:before {
  display: none;
}

.user-nav > .dropdown-menu > li a {
  display: block;
  padding: 8px 10px 9px 42px;
  color: #6c7d8e;
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
}

.user-nav > .dropdown-menu > li a .icon-user-nav {
  float: left;
  margin-left: -32px;
}

header.header .time {
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  color: #b1b7bb;
  height: 35px;
  overflow: hidden;
  position: relative;
  -webkit-transition: height .5s, opacity .5s;
  -moz-transition: height .5s, opacity .5s;
  -ms-transition: height .5s, opacity .5s;
  -o-transition: height .5s, opacity .5s;
  transition: height .5s, opacity .5s;
}

header.header .time strong {
  display: block;
  font-weight: 600;
  color: #6c7d8e;
  margin-top: 1px;
}

header.header .main-nav .time,
.minimize-menu header.header .time {
  height: 0;
  opacity: 0;
}

.minimize-menu header.header .main-nav .time {
  margin: 3px 0 0 7px;
  line-height: 18px;
  height: 35px;
  opacity: 1;
  text-align: left;
  letter-spacing: -1px;
}



@media (min-width: 768px) {





  .modal-dialog {
    width: 370px;
  }

  .modal-sm {
    width: 300px;
  }

  .payment-sys li {
    width: auto;
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 430px;
  }
}

@media (max-width: 1199px) {
  .btn-arbitration {
    padding-left: 22px;
    padding-right: 2px;
    -webkit-background-size: auto 12px;
    background-size: auto 15px;
    background-position: 3px 50%;
  }

  .main-nav {
    padding-left: 150px;
  }

  .main-nav .logo {
    margin-left: -150px;
  }

  .main-nav > ul > li {
    margin: 0 7px;
  }

  .main-nav > ul > li:before {
    right: -7px;
  }

  .main-nav > ul > li:first-child {
    margin-left: 0;
  }

  .minimize-menu .main-nav > ul > li:nth-child(5):before {
    display: none;
  }

  .minimize-menu .main-nav > ul > li:last-child {
    display: block;
  }

  .minimize-menu header.header .main-nav .time {
    height: 20px;
  }

  .minimize-menu header.header .time strong {
    display: inline-block;
    padding-left: 10px;
  }

  .partner-sidebar .btn {
    margin-left: -35px;
  }

  .footer .inner ul.social li {
    padding-right: 0;
  }

  .list-notifications .head .btn span:nth-child(2) {
    width: 55%;
  }

  .form-inline .table-panel .form-control[data-provide="datepicker"] {
    margin-right: 10px;
    width: 135px;
  }

  .form-control.country-code,
  .form-control.operator-code,
  .form-control.phone {
    margin: 0;
  }

  .form-control.addition-email {
    width: 198px;
    margin: 0;
  }

  .profile-page .form-inline .btn-primary {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
  }

  .header-checkout .logo {
    margin-right: 5px;
  }

  .header-checkout .wt-box {
    padding-right: 10px;
    padding-left: 0;
    font-size: 12px;
  }

  .header-checkout .refill-box {
    padding-right: 10px;
    padding-left: 0;
    font-size: 12px;
  }

  .language-box,
  .header-checkout .support-box {
    padding-right: 0;
    padding-left: 20px;
    font-size: 12px;
  }

  .footer-checkout-place {
    display: none;
  }

  .footer-checkout {
    margin-top: 0;
    height: auto;
  }

}



@media (max-width: 767px) {

.main-nav > ul > li .icons{
	display: none;
}

.minimize-menu .main-nav > ul {
    list-style: none;
    letter-spacing: -4px;
    font-size: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    margin-left: 0px !important;
    margin-left: -16px !important;
}

.main-nav > ul > li {
    margin: 0 0px !important;
}

.main-nav > ul {
    list-style: none;
    letter-spacing: -4px;
    font-size: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    margin-left: 0px !important;
    background-color: #fff;
    margin-left: -16px !important;
    margin-right: -16px !important;
}

.main-nav > ul > li > a > span {
    display: block;
    position: relative;
    padding-left: 14px;
}



  header.header > .top [class*='col-'] {
    position: static;
  }

  .minimize-menu header.header > .top {
    border-top-width: 3px;
    position: relative;
  }

  .not-legged-nav header.header .main-nav,
  .minimize-menu .main-nav,
  .main-nav {
    padding: 8px 0;
    float: none !important;
  }

  .btn-login,
  .minimize-menu .btn-login {
    margin: -11px -10px 6px 0;
    font-size: 11px;
    padding: 0 5px 0 20px;
    background-position: 4px 50% !important;
    -webkit-background-size: 12px !important;
    background-size: 12px !important;
  }

  .not-legged-nav header.header .main-nav .logo,
  .minimize-menu .main-nav .logo,
  .main-nav .logo {
    margin: 0;
    z-index: 3;
    position: relative;
  }

  .not-legged-nav header.header .main-nav .logo img,
  .minimize-menu .main-nav .logo img,
  .main-nav .logo img {
    height: 35px;
  }

  .minimize-menu .main-nav > ul,
  .main-nav > ul {
    margin: 0;
    padding: 10px 0 0;
    clear: left;
  }

  .minimize-menu .main-nav > ul > li,
  .main-nav > ul > li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #cccccc;
    text-align: left;
  }

  .main-nav > ul > li:after {
    content: '';
    clear: both;
    display: block;
  }

  .main-nav > ul > li strong {
    float: right;
    padding-right: 20px;
  }

  .minimize-menu .main-nav > ul > li > a > .caret,
  .main-nav > ul > li > a > .caret {
    top: 18px;
    right: 2px;
  }

  .main-nav > ul > li:before {
    display: none;
  }

  .minimize-menu .main-nav > ul > li > a,
  .main-nav > ul > li > a {
    display: block;
    width: auto;
    padding: 10px 5px;
  }

  .not-legged-nav header.header .main-nav > ul > li:last-child {
    display: block;
    padding: 0;
  }

  .main-nav > ul > li.open {
    border-bottom-width: 3px;
  }

  .main-nav > ul > li > a:hover,
  .main-nav > ul > li.open > a {

  }

  .main-nav > ul > li > a:hover:before,
  .main-nav > ul > li.open > a:before {
    display: none;
  }

  .main-nav > ul > li > a .icon {
    display: none;
  }

  .main-nav > ul > li > .dropdown-menu {
    position: static;
    width: 100%;
    padding: 5px 10px 20px;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    border-top: 1px solid #ccc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
  }

  .main-nav > ul > li > .dropdown-menu:before,
  .main-nav > ul > li > .dropdown-menu:after {
    display: none;
  }

  .minimize-menu .user-nav,
  .user-nav {
    position: absolute;
    top: 8px;
    right: 10px;
    left: 10px;
    z-index: 2;
    margin: 0;
  }

  .user-nav > a.dropdown-toggle {
    width: 150px;
    float: right;
    padding-left: 10px;
    min-height: 36px;
    padding-top: 4px;
  }

  .user-nav > a .photo {
    display: none;
  }

  .minimize-menu .user-nav > a.dropdown-toggle .badge,
  .user-nav > a.dropdown-toggle .badge {
    top: -8px;
    left: -5px;
  }

  .user-nav > a.dropdown-toggle .caret {
    top: 5px;
    right: 5px;
    border-top-color: transparent;
    border-left: 5px solid;
    border-right: none;
    border-bottom: 4px solid transparent;
  }



  .user-nav .dropdown-menu {
    position: absolute;
    left: 100%;
    width: 100%;
    top: -3px;
    margin: 0;
    border-top: 2px solid #eaeff4;
    -webkit-box-shadow: 3px 3px 9px rgba(24, 55, 89, .1);
    -moz-box-shadow: 3px 3px 9px rgba(24, 55, 89, .1);
    box-shadow: 3px 3px 9px rgba(24, 55, 89, .1);
    padding: 0;
    font-size: 0;
  }

  .user-nav .dropdown-menu > li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
  }

  .user-nav.open > a.dropdown-toggle:before {
    right: -10px;
  }

  .user-nav > .dropdown-menu:before {
    top: 0;
    left: -5px;
    right: auto;
    width: 5px;
    height: 38px;
    background: #fff;
  }

  .user-nav .dropdown-backdrop {
    left: 200%;
    top: -15px;
    margin-left: -40px;
    position: absolute;
    width: 40px;
    height: 14px;
    display: block;
    z-index: 2000;
    background: #ffffff;
    text-align: center;
    border: 2px solid #eaeff4;
    border-bottom: none;
  }

  .user-nav .dropdown-backdrop:before {
    content: 'x';
    font: 20px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #bbc5cf;
  }

  .index-soc-sidebar {
    padding-top: 80px;
  }

  .index-soc-sidebar.not-legged {
    padding-top: 40px;
  }

  .inner .wrapper {
    padding-top: 97px;
  }

  header.header {
    -webkit-box-shadow: 0 3px 9px rgba(24, 55, 89, .1);
    -moz-box-shadow: 0 3px 9px rgba(24, 55, 89, .1);
    box-shadow: 0 3px 9px rgba(24, 55, 89, .1);
  }

  .footer .pull-right {
    float: none !important;
    padding: 10px 0;
  }

  header.header,
  .wrapper,
  .footer {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
  }

  body.show-user-nav header.header,
  body.show-user-nav .wrapper,
  body.show-user-nav .footer {
    -webkit-transform: translateX(-95%);
    -moz-transform: translateX(-95%);
    -ms-transform: translateX(-95%);
    -o-transform: translateX(-95%);
    transform: translateX(-95%);
  }

  .minimize-menu header.header .time,
  header.header .time {
    font-size: 12px;
    text-align: center;
    height: auto;
    padding-bottom: 10px;
  }

  .minimize-menu header.header .time strong,
  header.header .time strong {
    display: inline;
  }

  header.header .time {
    clear: both;
    padding-top: 10px;
  }

  .show-main-nav header.header .time {
    padding-top: 0;
  }

  header.header > .bottom {
    padding-bottom: 5px;
    display: none;
  }

  header.header .sub-nav {
    margin: 0 0 10px;
  }

  header.header .sub-nav > li {
    width: 100%;
    padding: 0;
  }

  .show-main-nav header.header {
    position: absolute;
  }

  .main-nav > ul {
    display: none;
  }

  .show-main-nav header.header > .bottom,
  .show-main-nav .main-nav > ul {
    display: block;
  }

  header.header .navbar-toggle {
    display: block;
  }

  .not-legged-nav header.header .navbar-toggle {
    right: 15px;
    top: 9px;
  }

  .not-legged-nav header.header .pull-right {
    margin-top: 0;
  }

  .not-legged-nav header.header .language-box {
    padding-top: 0;
  }

  .popover {
    width: 320px;
  }

  .decor-form {
    margin-left: 0;
  }

  .give-credit .btn {
    display: block;
    margin: 0 auto;
    float: none !important;
  }

  .give-credit .btn-lg {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
  }

  .credit-item .info-credit {
    padding: 10px;
    min-height: 0;
    line-height: normal;
    border: none;
  }

  .credit-item .info-credit .icon-small {
    margin: 0;
  }

  .credit-item .info-credit span {
    padding: 0 5px;
  }

  .table-mobile {
    min-height: .01%;
    overflow-x: auto;
  }

  .credit-item .panel-body .table > tbody > .background-gray > td:last-child:before,
  .credit-item .panel-body .table > tbody > .background-gray > th:before {
    display: none;
  }

  .press-sidebar .flexslider {
    padding: 0 35px;
  }

  .flex-direction-nav .flex-next {
    right: 0;
  }

  .flex-direction-nav .flex-prev {
    left: 0;
  }

  .circle-diagram {
    float: none !important;
  }

  .helping-others-sidebar h2 {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 15px;
  }

  .helping-others-sidebar p {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 20px;
  }

  .helping-others-sidebar .btn-extra-rounded {
    min-width: 0;
    margin: 30px 0;
  }

  .helping-others-sidebar .percents {
    padding-top: 20px;
  }

  .helping-others-sidebar .circle-diagram > div,
  .helping-others-sidebar .circle-diagram canvas {
    width: 120px !important;
    height: 120px !important;
  }

  .helping-others-sidebar .circle-diagram .percent {
    width: auto;
    height: auto;
    font-size: 35px;
    line-height: 120px;
  }

  .helping-others-sidebar .circle-diagram p {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 0;
  }

  /*.index-three*/
  .index-three {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .index-three .separators {
    display: none;
  }

  .index-three .row > div {
    margin-bottom: 30px;
  }

  .icon-index {
    width: 50px;
    height: 50px;
    -webkit-background-size: 50%;
    background-size: 50%;
    display: block;
    margin: 0 auto;
  }

  .index-three h3 {
    max-width: none;
    font-size: 20px;
    line-height: normal;
    margin: 10px 0;
  }

  .index-three p {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 10px;
  }

  .fund-sidebar .guarantee-fund strong {
    width: auto;
    font-size: 40px;
    line-height: 40px;
    padding: 10px 0;
  }

  .fund-sidebar .guarantee-fund span {
    font-size: 16px;
    line-height: normal;
  }

  .fund-sidebar h2 {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 15px;
  }

  .fund-sidebar .relative {
    background: url("../http://code.jquery.com/ui/1.12.1/themes/base/images/fund-sidebar-mobile-bg.png") 50% 50% no-repeat;
  }

  .fund-sidebar .relative > div:nth-child(1) img,
  .fund-sidebar .relative > div:nth-child(3) img {
    height: 150px;
  }

  .fund-sidebar .centered {
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    margin: 40px 0;
  }

  .fund-sidebar p {
    font-size: 14px;
    line-height: normal;
    padding-bottom: 20px;
  }

  .fund-sidebar .relative p {
    font-size: 14px;
    margin-top: 5px;
  }

  .index-soc-sidebar {
    padding-bottom: 100px;
  }

  .index-soc-sidebar h1 {
    font-size: 22px;
    line-height: normal;
    margin: 30px 0 20px;
  }

  .index-soc-sidebar h2 {
    font-size: 18px;
    line-height: normal;
  }

  .index-soc-sidebar .users {
    background: none;
    min-height: 370px;
  }

  .index-soc-sidebar .logged-user {
    top: 70px;
  }

  .index-soc-sidebar [class*='user-'] {
    width: 50px;
    height: 50px;
  }

  .index-soc-sidebar [class*='user-'] img {
    width: 100%;
  }

  .index-soc-sidebar .user-1 {
    top: 0;
    left: 20px;
  }

  .index-soc-sidebar .user-2 {
    top: 103px;
    left: -13px;
  }

  .index-soc-sidebar .user-3 {
    top: 205px;
    left: 10px;
  }

  .index-soc-sidebar .user-4 {
    top: 0;
    right: 20px;
  }

  .index-soc-sidebar .user-5 {
    top: 103px;
    right: -13px;
  }

  .index-soc-sidebar .user-6 {
    top: 205px;
    right: 10px;
  }

  .index-soc-sidebar .logged-user span {
    padding-bottom: 20px;
  }

  .index-soc-sidebar.not-legged .users {
    min-height: 0;
    padding-top: 0;
  }

  .index-soc-sidebar.not-legged [class*='user-'] {
    display: none;
  }

  .index-soc-sidebar.not-legged .enter-site {
    margin: 0;
    padding: 0;
    border: none;
  }

  .index-soc-sidebar.not-legged .enter-site p {
    font-size: 14px;
    line-height: normal;
    margin: 20px 0 10px;
  }

  .index-soc-sidebar.not-legged .btn-extra-rounded {
    margin-top: 40px;
  }

  .nav-tabs > li {
    float: none;
    margin-bottom: 5px;
    display: block;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    padding: 11px 20px;
  }

  .search-panel {
    display: block;
  }

  .search-panel input.form-control {
    display: block;
    float: none;
    margin-bottom: 10px;
  }

  .search-panel .input-group-btn {
    text-align: center;
    white-space: normal;
  }

  .search-panel .input-group-btn .btn-gray {
    margin: 5px;
  }

  .pagination-sm {
    display: block;
    text-align: center;
  }

  .pagination-sm:after {
    content: '';
    clear: both;
    display: block;
  }

  .pagination-sm > li {
    display: inline-block;
  }

  .pagination-sm > li:first-child,
  .pagination-sm > li:last-child {
    display: block;
  }

  .pagination-sm > li:first-child > a,
  .pagination-sm > li:last-child > a {
    display: block;
    width: 100%;
  }

  .list-notifications .head .btn {
    white-space: normal;
    padding-left: 17px;
  }

  .list-notifications .head .btn span:nth-child(1) {
    font-size: 11px;
  }

  .list-notifications .head .btn span:nth-child(1),
  .list-notifications .head .btn span:nth-child(3) {
    font-size: 11px;
    padding: 0;
  }

  .list-notifications .head .btn span {
    display: block;
    padding: 5px 0;
    width: auto !important;
  }

  .list-notifications .head .btn {
    border-bottom-color: #eaeff4;
  }

  .bootstrap-select > .dropdown-toggle span.logo,
  .bootstrap-select.btn-group .dropdown-menu span.logo,
  .bootstrap-select > .dropdown-toggle span.title,
  .bootstrap-select.btn-group .dropdown-menu span.title,
  .bootstrap-select > .dropdown-toggle span.percent,
  .bootstrap-select.btn-group .dropdown-menu span.percent {
    width: auto;
  }

  .form-inline .table-panel .pull-right,
  .form-inline .table-panel .pull-left {
    float: none !important;
  }

  .form-inline .table-panel .form-group,
  .form-inline .table-panel .checkbox,
  .form-inline .table-panel .form-control[data-provide="datepicker"] {
    display: inline-block;
  }

  .form-inline .table-panel .pull-right label:first-child {
    padding-right: 10px;
  }

  .modal-footer .btn,
  .modal-footer .btn + .btn {
    margin: 0 auto;
    display: block;
    float: none !important;
  }
  
.header.header+div {
    margin-top: 66px;
}
  .modal-footer .btn-primary {
    margin-bottom: 15px;
  }

  .profile-page .form-inline .btn-primary {
    margin-top: 15px;
  }

  .form-control.country-code,
  .form-control.operator-code,
  .form-control.phone,
  .form-control.addition-email {
    width: 100%;
    margin: 0 0 15px;
  }

#navbar-collapse {
    padding-top: 8px;
    padding-right: 0px;
    background-color: #fff;
    margin-left: -30px;
    margin-right: -30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}


  .profile-page .personal-info .bootstrap-select {
    width: 100% !important;
  }

  .profile-page .form-inline .btn-primary {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: block;
  }

  .profile-page .icon-done-big {
    display: block;
    margin: -30px auto 20px;
  }

  .list-files li {
    border-top: 1px solid #eaeff4;
    padding: 5px 0;
    line-height: 16px;
  }

  .list-files li a.delete:before {
    font-size: 40px;
  }

  .list-files li:last-child {
    border-bottom: none;
  }

  .list-files .verified,
  .list-files .unverified,
  .list-files .consideration {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 80%;
  }

  form .example {
    display: block;
  }

  .list-protection > li {
    padding: 0;
    margin: 0 0 10px;
    border-bottom: 1px solid #eaeff4;
  }

  .list-protection > li label {
    display: block;
  }

  .list-protection .icon-place {
    display: none;
  }

  .panel-default .panel-footer,
  .panel-change-password .panel-footer,
  .panel-photos .form-group,
  .panel-photos .panel-footer,
  .panel-avatars {
    text-align: center;
  }

  .header-checkout .pull-right {
    float: none !important;
  }

  .header-checkout .logo-box {
    text-align: center;
    padding: 20px 0;
    margin-left: 25px;
  }

  .header-checkout .refill-box {
    display: block;
  }


}

@media (max-width: 1199px) {

.nav.navbar-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px;
    margin-left: 17px;
    color: #3390ee;
    font-weight: 700;
    font-size: 11px;
}

}

@media (max-width: 767px) {
	
	.nav.navbar-nav {
    float: left;
    padding: 5px 0px 10px;
    margin-left: 0px !important;
}

.navbar.navbar-default {
    background-color: inherit;
    border-bottom: 0px;
    margin-bottom: 0px;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border: 0;
    margin-top: -10px;
}

.header {
    padding: 0px 0 0px 0;
}

.navbar-brand img {
    height: 40px;
    width: 100px !important;
    margin-top: 0px;
    margin-left: 0px;
}
.nav.navbar-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px;
    margin-left: 0px;
    color: #3390ee;
    font-weight: 700;
    font-size: 11px;
}

.minimize-menu .navbar-brand img {
    height: 40px;
    width: 100px !important;
    margin-top: 0px;
}

.buttons-wrap > a {
    width: 300px !important;
}

header.header > .top {
    border-top: 3px solid #3390ee;
    height: 67px;
    border-bottom: 6px solid #4a5866 !important;
}

header.header {
    position: fixed;
    top: 0;
    height: 65px;
    left: 0;
    width: 100%;
    z-index: 100;
}

header.header .navbar-toggle {
    display: block;
    float: right !important;
    margin-top: 0px;
    right: 15px !important;
}
}


.header.header+div {
    margin-top: 123px;
}

@media (max-width: 767px) {
.header.header+div {
    margin-top: 67px !important;
}


}

@media (max-width: 991px) {
.main-nav > ul > li {
    margin: 0 -4px;
}
.main-nav > ul > li:before{
	display: none;
}
}




@media (min-width: 1200px) {
.main-nav > ul > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0px;
    padding: 0;
    padding-left: 10px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    position: relative;
    letter-spacing: normal;
    text-align: center;
    -webkit-transition: margin .5s;
    -moz-transition: margin .5s;
    -ms-transition: margin .5s;
    -o-transition: margin .5s;
    transition: margin .5s;
}

.minimize-menu .main-nav > ul > li {

    padding-left: 0px !important;

}
}


.minimize-menu a.dropdown-toggle {
    margin-top: -27px;
}

a.dropdown-toggle {
    padding-top: 21px !important;
    margin-left: 0px;
}

li.dropdown.language.hidden-sm.hidden-xs {
    position: absolute;
    right: 0px;
    float: right;
    top: 23px;
}



.iframe-main-p2p {
    height: 448px;
    margin-top: 17px !important;
    max-width: 673px;
    margin: 0 auto;
    background: aliceblue;
}


.exchange_panel {
    border: #000;
    background: #fff;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    border-top: 0px solid #eee;
    padding-bottom: 5px;
    padding-top: 5px;
}









/* */



.page-exchanger {
	text-decoration: none !important;
}

.page-exchanger button{
    border: 0;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    margin-top: 41px;
    box-shadow: none;
}

.page-exchanger button:hover{
background: #007EFF;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;	
}

.status-nt {
    background: #FF5502;
    border-radius: 50px;
    padding: 5px 5px;
    text-align: center;
    color: #fff !important;
    text-decoration: none !important;
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
    width: 80px;
    display: block;
}

.status-nt.green{
	background: green !important;
}

.status-nt.blue{
	background: #007EFF;
}

.status-nt.red-s{
	background: #FF5502;
}



div#accordion-ex {
    max-width: 615px !important;
    margin: 0 auto;
    margin-bottom: 50px;
}


/*! jQuery UI - v1.12.1 - 2016-09-30
* http://jqueryui.com
* Includes: core.css, accordion.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=base&cornerRadiusShadow=8px&offsetLeftShadow=0px&offsetTopShadow=0px&thicknessShadow=5px&opacityShadow=30&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=666666&opacityOverlay=30&bgImgOpacityOverlay=0&bgTextureOverlay=flat&bgColorOverlay=aaaaaa&iconColorError=cc0000&fcError=5f3f3f&borderColorError=f1a899&bgTextureError=flat&bgColorError=fddfdf&iconColorHighlight=777620&fcHighlight=777620&borderColorHighlight=dad55e&bgTextureHighlight=flat&bgColorHighlight=fffa90&iconColorActive=ffffff&fcActive=ffffff&borderColorActive=003eff&bgTextureActive=flat&bgColorActive=007fff&iconColorHover=555555&fcHover=2b2b2b&borderColorHover=cccccc&bgTextureHover=flat&bgColorHover=ededed&iconColorDefault=777777&fcDefault=454545&borderColorDefault=c5c5c5&bgTextureDefault=flat&bgColorDefault=f6f6f6&iconColorContent=444444&fcContent=333333&borderColorContent=dddddd&bgTextureContent=flat&bgColorContent=ffffff&iconColorHeader=444444&fcHeader=333333&borderColorHeader=dddddd&bgTextureHeader=flat&bgColorHeader=e9e9e9&cornerRadius=3px&fwDefault=normal&fsDefault=1em&ffDefault=Arial%2CHelvetica%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important;pointer-events:none}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-accordion .ui-accordion-header{display:block;cursor:pointer;position:relative;margin:2px 0 0 0;padding:.5em .5em .5em .7em;font-size:100%}.ui-accordion .ui-accordion-content{padding:1em 2.2em;border-top:0;overflow:auto}.ui-widget{font-family:Arial,Helvetica,sans-serif;font-size:1em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Arial,Helvetica,sans-serif;font-size:1em}.ui-widget.ui-widget-content{border:1px solid #c5c5c5}.ui-widget-content{border:1px solid #ddd;background:#fff;color:#333}.ui-widget-content a{color:#333}.ui-widget-header{border:1px solid #ddd;background:#e9e9e9;color:#333;font-weight:bold}.ui-widget-header a{color:#333}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,.ui-button,html .ui-button.ui-state-disabled:hover,html .ui-button.ui-state-disabled:active{border:1px solid #c5c5c5;background:#f6f6f6;font-weight:normal;color:#454545}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited,a.ui-button,a:link.ui-button,a:visited.ui-button,.ui-button{color:#454545;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,.ui-button:hover,.ui-button:focus{border:1px solid #ccc;background:#ededed;font-weight:normal;color:#2b2b2b}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited,a.ui-button:hover,a.ui-button:focus{color:#2b2b2b;text-decoration:none}.ui-visual-focus{box-shadow:0 0 3px 1px rgb(94,158,214)}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover{border:1px solid #003eff;background:#007fff;font-weight:normal;color:#fff}.ui-icon-background,.ui-state-active .ui-icon-background{border:#003eff;background-color:#fff}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#fff;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #dad55e;background:#fffa90;color:#777620}.ui-state-checked{border:1px solid #dad55e;background:#fffa90}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#777620}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #f1a899;background:#fddfdf;color:#5f3f3f}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#5f3f3f}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#5f3f3f}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url("http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png")}.ui-widget-header .ui-icon{background-image:url("http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png")}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-button:hover .ui-icon,.ui-button:focus .ui-icon{background-image:url("http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_555555_256x240.png")}.ui-state-active .ui-icon,.ui-button:active .ui-icon{background-image:url("http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_ffffff_256x240.png")}.ui-state-highlight .ui-icon,.ui-button .ui-state-highlight.ui-icon{background-image:url("http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_777620_256x240.png")}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url("http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_cc0000_256x240.png")}.ui-button .ui-icon{background-image:url("http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_777777_256x240.png")}.ui-icon-blank{background-position:16px 16px}.ui-icon-caret-1-n{background-position:0 0}.ui-icon-caret-1-ne{background-position:-16px 0}.ui-icon-caret-1-e{background-position:-32px 0}.ui-icon-caret-1-se{background-position:-48px 0}.ui-icon-caret-1-s{background-position:-65px 0}.ui-icon-caret-1-sw{background-position:-80px 0}.ui-icon-caret-1-w{background-position:-96px 0}.ui-icon-caret-1-nw{background-position:-112px 0}.ui-icon-caret-2-n-s{background-position:-128px 0}.ui-icon-caret-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-65px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-65px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:1px -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-on{background-position:-96px -144px}.ui-icon-radio-off{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:3px}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:3px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:3px}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:3px}.ui-widget-overlay{background:#aaa;opacity:.3;filter:Alpha(Opacity=30)}.ui-widget-shadow{-webkit-box-shadow:0 0 5px #666;box-shadow:0 0 5px #666}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #F8FAFB;
    background: #F8FAFB;
    font-weight: normal;
    color: #454545;
    color: #78828C;
    font-weight: bold;
    font-size: 12px !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #fff;
}

.ui-accordion .ui-accordion-header {
    display: block;
    padding: .95em .5em .95em .7em;
}

.ui-widget-content {
    border: 1px solid #EEEEEE;
    background: #fff;
    color: #333;
}

div#accordion-ex li {
    list-style: none;
}

.ui-accordion .ui-accordion-content {
    padding: 0;
    border-top: 0;
    overflow: auto;
}

div#accordion-ex li {
    list-style: none;
    padding: 6px 11px;
    cursor: pointer;
    position: relative;
}



div#accordion-ex li img {
    margin-right: 10px;
}

div#accordion-ex ul{
	margin-bottom: 0;
}

#accordion-ex li.active{
	background: #F8FAFB;
}

.status-nt {
    position: absolute;
    top: 7px;
    right: 9px;
    width: 120px;
}

input.cbx-no {
    left: auto;
    right: 7px;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 38px;
    cursor: pointer;
    width: 20px;
}

div#accordion-ex li {
    list-style: none;
    padding: 6px 11px;
    cursor: pointer;
    position: relative;
    color: #78828C;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}



.card-logo {
    background: none;
    height: 52px;
    margin-top: -10px;
    display: flex;
    float: right;
}

.card-logo img {
    vertical-align: middle;
    display: block;
    height: auto !important;
    margin: 0 auto;
    max-height: 100%;
    object-fit: contain;
}
